* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.header {
      width: 100%;
      min-height: 100vh;
      background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
      background-position: center;
      background-size: cover;
      position: relative;

}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* text-align: center; */
      padding: 2% 6%;
}

nav img {
      width: 150px;
}

.nav-links {
      flex: 1;
      text-align: right;
}

.nav-links li {
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
}

.nav-links li a {
      text-decoration: none;
      color: white;
      font-size: 16px;
}

.nav-links ul li::after {
      content: '';
      width: 0%;
      height: 2px;
      background: red;
      display: block;
      margin: auto;
      transition: 0.5s;
}

.nav-links ul li:hover::after {
      width: 100%;
}

.text-box {
      width: 90%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;

}

.text-box h1 {
      font-size: 7vmin;
      color: lightseagreen;
}

.text-box p {
      margin: 10px 0 40px;
      font-size: 3vmin;
      color: whitesmoke;
}

.btnmore {
      display: inline-block;
      text-decoration: none;
      color: whitesmoke;
      font-size: 2.5vmin;
      border: 1px solid white;
      background: transparent;
      padding: 12px 33px;
      position: relative;
      cursor: pointer;
}

.btnmore:hover {
      background-color: lightseagreen;
      border: none;
      color: red;
}

nav .fa {
      display: none;
}

@media (max-width:700px) {
      .text-box h1 {
            /* font-size: 20px; */
      }

      .nav-links ul li {
            display: block;
      }

      .nav-links {
            position: fixed;
            top: 0;
            right: -200px;
            height: 100vh;
            width: 200px;
            text-align: right;
            z-index: 2;
            background: red;
            transition: 1s;
      }

      nav .fa {
            display: block;
            color: white;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
      }

      .nav-links ul {
            padding: 30px;
      }
}

/* courses */
.courses {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px
}

h1 {
      font-size: 6vmin;
      font-weight: 600;
}

p {
      color: rgb(44, 43, 41);
      font-size: 2.5vmin;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
}

.row {
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
}

.course-col {
      flex-basis: 30%;
      background: rgb(198, 155, 155);
      border-radius: 10px;
      margin-bottom: 5%;
      box-sizing: border-box;
      padding: 20px 12px;
      transition: 0.5s;
}

h3 {
      font-size: 3vmin;
      text-align: center;
      font-weight: 600;
      margin: 10px 0;
}

.course-col:hover {
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
      transform: scale(1.1);
}

@media (max-width:700px) {
      .row {
            flex-direction: column;
      }
}

/* campus */

.campus {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px
}

.campus-col {
      flex-basis: 32%;
      border-radius: 10px;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;

}

.campus-col img {
      width: 100%;
      display: block;
}

.layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
}

.layer:hover {
      background: rgba(81, 19, 135, 0.5);
}

.layer h3 {
      /* width: 100%; */
      font-weight: 500;
      color: whitesmoke;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-45%);
      opacity: 0;
      transition: 0.5s;
}

.layer:hover h3 {
      opacity: 1;
      bottom: 49%;
}

/* facilities*/

.facilities {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px
}

.facilities-col {
      flex-basis: 30%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
}

.facilities-col img {
      width: 100%;
      border-radius: 10px;
}

.facilities-col p {
      padding: 5px;
}

.facilities-col h3 {
      margin-top: 16px;
      margin-bottom: 15px;
      text-align: left;
}

/* testimonials */

.testimonial {
      width: 80%;
      padding-top: 100px;
      text-align: center;
      margin: auto;
}

.testimonial-col {
      flex-basis: 44%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      padding: 25px;
      display: flex;
      cursor: pointer;
      background: rgb(167, 105, 105);

}

.testimonial-col img {
      height: 40px;
      margin-left: 5px;
      margin-right: 30px;
      border-radius: 50%;
}

.testimonial-col p {
      padding: 0;

}

.testimonial-col h3 {
      margin-top: 15px;
      text-align: left;
}

/* call to ACTion */
.cta {
      margin: 100px auto;
      width: 80%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      text-align: center;
      padding: 100px 0;
}

.cta h1 {
      color: whitesmoke;
      margin-bottom: 40px;
      padding: 0;

}

@media(max-width:700px) {
      .cta h1 {
            /* font-size: 2vmin; */
      }
}

/* footer  */

.footer {
      width: 100%;
      text-align: center;
      padding: 30px 0;
}

.footer h4 {
      margin-bottom: 25px;
      margin-top: 20px;
      font-weight: 600px;
      font-size: 3vmin;
}

.icons .fa {
      color: red;
      margin: 0 13px;
      cursor: pointer;
      padding: 18px 0;
}

.fa-heart-o {
      color: red;
}

 /* about us  page */

 .sub-header{
      width: 100%;
      height: 50vh;
      background-image: linear-gradient(rgba(4,5,25,0.7),rgba(4,5,25,0.7)),url(images/background.jpg);
      background-position: center;
      background-size: cover;
      text-align: center;
      color: whitesmoke;

 }
 .sub-header h1{
      margin-top: 100px;
 }
 .about-us{
      width: 80%;
      margin: auto;
      padding-top: 80px;
      padding-bottom: 50px;
 }
 .about-col{
      flex-basis: 48%;
      padding: 30px  0 13px;
 }
 .about-col img{
      width: 100%;
 }
 .about-col h1{
      padding-top: 0;
 }
 .about-col p{
      padding: 15px 0  25px;
 }
 .btn-1{
      background: transparent;
      border: 1px solid red;
      color: red;

 }
 .btn-1:hover{
      color: whitesmoke;   
 }

   /* blog page  */

.blog-content{
      width: 80%;
      margin: auto;
      padding: 60px 0 ;
}
.left-col{
      flex-basis: 64%;

}
.left-col img{
      width: 100%;
}
.left-col h2{
      font-weight: 600;
      margin: 30px 0;
}
.left-col p{
      color: rgb(107, 103, 103);
      padding: 0;
}

.right-col{
      flex-basis: 33%;
}
.right-col h3{
      background: rgb(171, 57, 57);
      color: whitesmoke;
      padding: 10px 0;
      font-size: 3vmin;
      margin-bottom: 20px;
}
.right-col div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgb(107, 103, 103);
      padding: 8px;
      box-sizing: border-box;

}
.comment-box{
      border: 1px solid #ccc;
      margin: 50px 0;
      padding: 10px 20px;

}
.comment-box h3{
      text-align: left;
}
.comment-form input, .comment-form textarea{
      width: 100%;
      box-sizing: border-box;
      padding: 10px ;
      margin: 15px 0;
      background-color: rgb(174, 168, 168);
      border: none;
      outline: none;
}
@media (max-width:700px){
      .sub-header h1{
            font-size: 24px;
      }
}

   /* contact us page  */

.location{
      width: 80%;
      margin: auto;
      padding: 80px 0;
}
.location iframe {
      width: 100%;
}
.contact-us{
      width: 80%;
      margin: auto;
}
.contact-col{
      flex-basis: 48%;
      margin-bottom: 30px;
}
.contact-col div{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
}
.contact-col div .fa{
      font-size: 28px;
      color: lightblue;
      margin: 10px;
      margin-right: 30px;
}
.contact-col div p{
      padding: 0;
}
.contact-col div h5{
      font-size: 19px;
      margin-bottom: 5px;
      color: #555;
      font-weight: 400;
}
.contact-col input, .contact-col textarea{
      width: 100%;
      padding: 15px;
      margin-bottom: 17px;
      outline: none;
      border: 1px solid #555;
      box-sizing: border-box;
}